* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}
body {
	// background-color: #dee0e1;
	background: #a1ffce; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		to right,
		#faffd1,
		#a1ffce
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#faffd1,
		#a1ffce
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	background-attachment: scroll;

	.pagina {
		// background-color: green;
		width: 90%;
		margin: 20px auto;
		padding: 0 15px;
	}
	.saltoPagina {
		margin-top: 120px;
	}
}

@import './header';
@import './menu';
// Home
@import './frase';
@import './servicios';
@import './aboutUs';
@import './donaciones';
// objetivos
@import './objetivos';
@import './footer';
// evidencias
@import './evidencias';
